* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/bg_header.jpg);
    background-size: cover;
    height: 735px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
}

.header__logo {
    width: 198px;
    height: 44px;
}

.header__input {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 32px;
    width: 288px;
    height: 41px;
    margin: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    background-color: transparent;
    font: inherit;
}

.header__input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.header__link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: none;
}

.top__link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.top__title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: left;
}

.top__subtitle {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.top__title {
    padding-top: 64px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
}

.top__subtitle {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}

.top__link {
    font-size: 16px;
    line-height: 24px;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
}

.product-box__title {
    padding-top: 10px;
    padding-bottom: 9px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.product__subtitle {
    padding-top: 10px;
    padding-bottom: 9px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.product__description {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.product__price-box {
    display: flex;
    gap: 32px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.product__price {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    color: #050505;
}

.product__price-old {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
    color: #888888;
}

.product-box {
    padding-top: 64px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    column-gap: 32px;
    row-gap: 56px;
}

footer {
    display: flex;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: rgba(247, 246, 246, 1);
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer__logo {
    width: 198px;
    height: 44px;
}

.footer__link:hover {
    text-decoration: underline;
}

.form__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #000000;
}

.form__input {
    width: 260px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    font-weight: normal;
    color: #C4C4C4;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    padding-left: 17px;
}

.form__input::placeholder {
    color: rgba(196, 196, 196, 1);
    padding-bottom: 12px;
}

.form__button {
    background: rgba(236, 234, 234, 1);
    border: 1px solid rgba(236, 234, 234, 1);
    box-sizing: border-box;
    border-radius: 16px;
    width: 260px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.link-box {
    display: flex;
    padding-top: 39px;
    padding-bottom: 64px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 8px;
}

.footer__icon {
    padding-right: 20px;
}

.footer__icons {
    padding-top: 4px;
}

.top__hr {
    border: none;
    border-top: 0.5px solid rgba(237, 237, 236, 1);
}

.for-box {
    padding-top: 64px;
}

.for-box__title {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
}

.for {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    grid-column: span 4;
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    color: rgba(255, 255, 255, 1);
}

.for__item_big {
    grid-column: span 6;
}

.for__item_1 {
    background-image: url(img/for_chill.jpg);
}

.for__item_2 {
    background-image: url(img/for_work.jpg);
}

.for__item_3 {
    background-image: url(img/for_kitchen.jpg);
}

.for__item_4 {
    background-image: url(img/for_babyroom.jpg);
}

.for__item_5 {
    background-image: url(img/for_bathroom.jpg);
}

.top-catalog__title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 126px;
    margin-top: 128px;
}

.top-catalog {
    background-image: url(img/bg_catalog.jpg);
    background-size: cover;
    height: 400px;
}

.top-catalog__hr {
    border: none;
    border-top: 0.5px solid rgba(237, 237, 236, 1);
}

.filtering__title-main {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.filter-buttons {
    position: relative;
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.filter-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    appearance: none;
    background-image: url(img/polygon.jpg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
}

.filter-select {
    padding: 8px 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    padding-right: 32px;
    appearance: none;
    background-image: url(img/polygon.jpg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
}

.filtering__box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__nav-decoration {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-box {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 8px;
}

.header__menu {
    display: none;
}

.header__link,
.top__link,
.product__price,
.footer__link,
.form__button {
    transition: all 0.3s ease;
}

.link-box:hover,
.header__link:hover,
.top__link:hover {
    color: #888888;
    text-decoration: none;
}

.cart__button:hover,
.form__button:hover {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
}

@keyframes checkoutAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cart__checkout-button {
    animation: checkoutAnimation 1s ease;
}

.footer__icon:hover {
    transition: filter 0.3s ease;
    filter: brightness(0) invert(0);
}

@import 'vars';
@import 'cart';
@import 'filtering';
@import 'tablet';
@import 'mobile';